name: unittest
on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  unittest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'
          architecture: 'x64'
      - name: Show Python version
        run: python -V
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install .
      - name: unittest for Python
        run: python -m unittest discover test
